<% content_for :page_title, 'Custom Software Development Company - Boulder Denver | Lockstep Labs' %>
<main class='application-main-content'>
  <section class='hero split-layout show-tile' data-hero-project='tile' id='js-hero'>
    <div class='split-layout-secondary hero-image-wrapper'>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid mt-3" src="<%= asset_path('trustbooks_devices.png') %>">
            <div class="carousel-paragraph">
              <b>Trustbooks Accounting Software</b><br/>
              Trustbooks is trust accounting software for law firms. We simplified and  optimized complex accounting workflows with a UX-driven, agile design process.
            </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid mt-3" src="<%= asset_path('bungalow_devices.png') %>">
            <div class="carousel-paragraph">
              <b>Bungalow Insurance</b><br/>
              Bungalow is making renters insurance dead simple for millennial renters. No calls to insurance reps necessary, just a seamless web or mobile shopping experience.
            </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid mt-3" src="<%= asset_path('pathgather_devices.png') %>">
            <div class="carousel-paragraph">
              <b>Pathgather LMS</b><br/>
              Pathgather is a unified learning platform where employees engage and collaborate with personalized content, and employers gain valuable insights into their learning ecosystem.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='split-layout-primary'>
      <div class='split-primary-wrapper'>
        <h1 class='title-primary'>Lockstep Labs</h1>
        <h2><i>A better way to win at custom software</i></h2>
        <p class='paragraph-primary'>We are a team of expert  software developers dedicated to helping our clients achieve their business goals with exceptional custom software solutions.</p>
      </div>
    </div>
  </section>
  <section class='what_we_do our-team split-layout'>
    <div class='split-layout-primary'>
      <div class='split-primary-wrapper'>
        <h1 class='title-primary'>Discover the Lockstep Advantage</h1>
        <p class='paragraph-primary'>
          Lockstep Labs delivers the highest quality web and mobile apps for a fraction of the usual cost.
        </p>
        <ul class="discover-list">
          <li class="item-yellow">
            <h2 class='title-secondary'>
              <i class="fa fa-rocket"></i> A Track Record of Success
            </h2>
            <p>
              Ask us about our work that is most relevant to your business, and check out some of our finest projects. We have consistently delivered exceptional results including complete builds of complex, large-scale systems.
            </p>
          </li>
          <li class='item-red'>
            <h2 class='title-secondary'>
              <i class="fa fa-graduation-cap"></i> Quality First
            </h2>
            <p>
              Consistently delivering high-quality results requires a structured, disciplined methodology practiced by a permanent, expert team. We mitigate risk by ensuring alignment on your business goals and functional requirements. We are obsessed with test-driven development (TDD) and continuous integration.
            </p>
          </li>
          <li class='item-blue'>
            <h2 class='title-secondary'>
              <i class="fa fa-balance-scale"></i> Domain Expertise in Fintech, Insurtech and Edtech
            </h2>
            <p>
              Through long-term engagements with top-notch, VC-funded startups, we bring deep expertise in developing complex solutions for financial services, insurance and education innovators.
            </p>
            <p>
              Our success delivering large-scale, data-intensive web and mobile solutions demonstrates our ability to understand the complexities and nuances of each client’s business goals and translate them into beautiful, effective solutions for any industry.
            </p>
          </li>
          <li class='item-pink'>
            <h2 class='title-secondary'>
              <i class="fa fa-users"></i> Team and Culture
            </h2>
            <p>
              We’ve gone the extra mile to build a stable, permanent team with very low turnover and high employee satisfaction. We recruit the best technical talent and invest in ongoing training in the latest technologies, tools and processes. Strong core values and a positive, respectful culture encourages transparency, creativity and resourcefulness.
            </p>
          </li>
          <li class='item-green'>
            <h2 class='title-secondary'>
              <i class="fa fa-cogs"></i> Our Unique Approach
            </h2>
            <p>
              This is the Lockstep Advantage: A unique mix of superior technical chops, proven capabilities, agile methodology, domain expertise, and a location-based financial advantage that gives our clients a significant competitive edge.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class='split-layout-secondary'>
      <div class="photo-grid photo-grid--office boston">
        <div class="photo-grid__photo"></div>
        <div class="photo-grid__photo"></div>
        <div class="photo-grid__photo"></div>
        <div class="photo-grid__photo"></div>
        <div class="photo-grid__photo"></div>
        <div class="photo-grid__photo"></div>
      </div>
    </div>
  </section>
  <section class='tech'>
    <div class='text-center'>
      <h1>Custom Software Development</h1>
      <p class='paragraph-primary'>
        We specialize in custom application development for SaaS, web and mobile apps: Ruby on Rails, Node.js, Clojure, Bootstrap
      </p>
      <p class='paragraph-primary'>JavaScript: Node.js, ReactJS, AngularJS, jQuery</p>
      <p class='paragraph-primary'>Mobile Development: iOS, Android, React Native</p>
      <p class='paragraph-primary'>Database Development: MySQL, PostgreSQL, MongoDB</p>
      <p class='paragraph-primary'>API development and API integration</p>
    </div>
  </section>
  <section class="split-layout homepage-friends">
    <div class="split-layout-secondary split-layout-secondary--fixed">
      <blockquote class="customer-quote primary-quote">
        <p><i>
          &ldquo;Paul and the Lockstep team have been fantastic! Out of the gate, we were very anxious about working with an outside development team. The Lockstep team has completely erased those concerns. We brainstormed and collaborated through all phases of our software – from inception and taking it live, through launch with sound and actionable advice. Lockstep has been an integral part of building TrustBooks.&rdquo;
        </i></p>
        <cite class="customer-quote-author">
          <img class="customer-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/1b2/09e/1585bca.jpg" alt="Tom Boyle">
          <span class="customer-details">
            <span>Tom Boyle, Co-Founder of TrustBooks</span>
          </span>
        </cite>
      </blockquote>
    </div>
    <div class="split-layout-primary">
      <div class="split-primary-wrapper">
        <blockquote class="customer-quote secondary-quote">
          <p><i>
            &ldquo;Paul and his team offer the unique combination of outstanding capabilities, extensive startup experience, and affordable rates that make his firm perfect for a new venture. Whether you work with Lockstep as your primary developer or to supplement in-house resources, his firm is exactly the type of 'unfair advantage' that can mean the difference between success and failure.&rdquo;
          </i></p>
          <cite class="customer-quote-author">
            <img class="customer-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/000/1d9/34f/264207e.jpg" alt="Tom Austin">
            <span class="customer-details">
              <span>Tom Austin, Co-Founder of Bungalow Insurance</span>
            </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </section>
  <section class='with-you full-width-block splitfit'>
    <div class='full-width-block-inner'>
      <ul class='client-logos'>
        <li>
          <img class="openplay" src="<%= asset_path('openplay_gs.png') %>">
        </li>
        <li>
          <img class="bungalow" src="<%= asset_path('bungalow_gs.png') %>">
        </li>
        <li>
          <img class="ridecache" src="<%= asset_path('ridecache_gs.png') %>">
        </li>
        <li>
          <img class="quickkey" src="<%= asset_path('quickkey_gs.png') %>">
        </li>
        <li>
          <img class="trustbooks" src="<%= asset_path('trustbooks_gs.png') %>">
        </li>
        <li>
          <img class="cisco" src="<%= asset_path('cisco_gs.png') %>">
        </li>
      </ul>
    </div>
  </section>
</main>
