<% content_for :page_title, 'Custom Software Development Company - Boulder Denver | Our Team' %>
<main class="application-main-content">
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="main-image" style="background-image: url(<%= asset_path('our_team.jpg') %>);"></div>
    </div>
  </div>
  <div class="team-wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="profile">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front" style="background-image: url(<%= asset_path('paul.jpg') %>); background-position: right;">
              </div>
              <div class="back text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
          <div class="staff-name p-2 text-center">
            <h2>Paul Rugel-Hiatt</h2>
            <h4>Founder</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="profile">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front" style="background-image: url(<%= asset_path('avatar.png') %>);">
              </div>
              <div class="back text-center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
          <div class="staff-name p-2 text-center">
            <h2>Michael Kohl</h2>
            <h4>CTO</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="profile">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front" style="background-image: url(<%= asset_path('avatar.png') %>);">
              </div>
              <div class="back text-center">
                Background text of investor
              </div>
            </div>
          </div>
          <div class="staff-name p-2 text-center">
            <h2>XXX</h2>
            <h4>Investor</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="profile">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front" style="background-image: url(<%= asset_path('avatar.png') %>);">
              </div>
              <div class="back text-center">
                Background text of investor
              </div>
            </div>
          </div>
          <div class="staff-name p-2 text-center">
            <h2>XXX</h2>
            <h4>Investor</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center staff mt-3">
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('jan-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('maxim-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('vova-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('ake-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('gun-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('amy-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('bird-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('got-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('terng-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('mac-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('karun-profile.jpg') %>">
      </div>
    </div>
  </div>
</main>