<% content_for :page_title, 'Custom Software Development Company - Boulder Denver | Our Team' %>
<main class="application-main-content">
  <div class="row no-gutters align-items-center">
    <div class="col-lg-12">
      <div class="main-image" style="background-image: url(<%= asset_path('team.jpg') %>);">
      </div>
    </div>
  </div>
  <div class="team-wrapper">
    <h2 class="text-center section-title">EXECUTIVE TEAM</h1>
    <div class="row mb-4">
      <div class="col-lg-2">
        <div class="staff-image" style="background-image: url(<%= asset_path('paul-profile.jpg') %>);">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bio">
          <h2>Paul Hiatt</h2>
          <h3>CEO and Founder</h3>
          <p class="paragraph-primary">
            Paul Hiatt is an entrepreneur and software executive who founded Lockstep Labs in 2014 while living in Bangkok, Thailand. Under Paul’s leadership, the Lockstep team has developed numerous, innovative SaaS and mobile-first solutions for a wide range of complex business challenges. He personally recruited, trained and managed our permanent software development team. In 2017 Paul moved back home to Colorado with his family to open our US office and continue providing exceptional service and value to our US clients. Paul is a graduate of the University of North Carolina at Chapel Hill and a recipient of the Robertson Leadership Scholarship Award.
          </p>
          <ul class="social-links list-inline mb-4">
            <li class="list-inline-item linkedin">
              <a class="linkedin" href="https://www.linkedin.com/in/paulhiatt/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item github">
              <a class="github" href="https://github.com/hiattp" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="stack-overflow" href="https://stackoverflow.com/cv/hiattp" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="twitter" href="https://twitter.com/paulrugelhiatt" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="staff-image" style="background-image: url(<%= asset_path('michael.jpg') %>);">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bio">
          <h2>Michael Kohl</h2>
          <h3>CTO</h3>
          <p class="paragraph-primary">
            Michael Kohl is an accomplished software team leader who manages Lockstep Lab’s professional development team in our Bangkok office. Michael is a recognized expert in application development across numerous frameworks and industries, and ranks in the top 1% of Ruby on Rails experts on <a class="blue-link" href="https://stackoverflow.com/cv/citizen428" target="_blank">stackoverflow</a>. A frequent speaker at tech conferences, Michael is a respected software educator, mentor, technology journalist and technical reviewer. Michael is a graduate of The University of Vienna in his homeland of Austria.
          </p>
          <ul class="social-links list-inline mb-4">
            <li class="list-inline-item linkedin">
              <a class="linkedin" href="https://www.linkedin.com/in/citizen428/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item github">
              <a class="github" href="https://github.com/citizen428" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="stack-overflow" href="https://stackoverflow.com/users/220147/michael-kohl" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="twitter" href="https://twitter.com/citizen428" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h2 class="text-center section-title">INVESTORS</h1>
    <div class="row mb-4">
      <div class="col-lg-2">
        <div class="staff-image" style="background-image: url(<%= asset_path('andrew.png') %>);">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bio">
          <h2>Andrew Potash</h2>
          <h3>Founder and Chairman Emeritus of Distinguished Programs</h3>
          <p class="paragraph-primary">
            Andrew Potash is an insurance industry executive, innovator and entrepreneur. He is the founder of Distinguished Holdings, a national insurance program administrator for the real estate industry. In addition, Andy is the chairman and co-founder of Personal Risk Management Solutions, a personal insurance brokerage. Most recently Andy co-founded BikeLane Insurance Services, an emerging insurtech innovator. Andy has a wealth of industry experience as a senior executive and entrepreneur, founding his first insurance company in 1982. Many have benefited from Andy’s generosity through his work with The Distinguished Social Ventures Foundation, World Presidents Organization and the Chief Executives Organization. Andy is a graduate of Cornell University and the Program for Management Development at Harvard Business School.
          </p>
          <ul class="social-links list-inline mb-4">
            <li class="list-inline-item linkedin">
              <a class="linkedin" href="https://www.linkedin.com/in/andrew-potash-060439b/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="staff-image" style="background-image: url(<%= asset_path('jason.jpg') %>);">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bio">
          <h2>Jason Kelley</h2>
          <h3>COO of Bungalow Insurance</h3>
          <p class="paragraph-primary">
            Jason Kelley is a technology investor and entrepreneur focused on fintech and insurtech software businesses. He is currently the COO of Bungalow Insurance, a leading insurtech startup. He also founded a data analytics startup serving the financial services industry. Prior to his business career, Jason served as a CIA officer in the Middle East and South Asia. He has also held public policy positions in the U.S. Senate and at The White House. Jason holds a BS from The University of Minnesota, a JD from American University and an MBA from Columbia University.
          </p>
          <ul class="social-links list-inline mb-4">
            <li class="list-inline-item linkedin">
              <a class="linkedin" href="https://www.linkedin.com/in/jasonkelley2/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="row text-center staff mt-4">
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('jan-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('maxim-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('vova-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('ake-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('gun-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="rounded-circle" src="<%= asset_path('amy-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('bird-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('got-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('terng-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('mac-profile.jpg') %>">
      </div>
      <div class="col-xs-6 col-md-2 col-lg-2">
        <img class="img-fluid rounded-circle" src="<%= asset_path('karun-profile.jpg') %>">
      </div>
    </div> -->
  </div>
</main>